<!DOCTYPE html>
<html lang="bs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script> 
</head>
<body>
    <div class="ui container">
        <div class="ui secondary stackable menu">
            <a href="/real-estates" class="item">Home</a>
            <div class="ui dropdown item">
                <span>Show All Properties <i class="dropdown icon" style="margin: 0"></i></span>
                <div class="menu">
                    <a href="/real-estates/buy" class="ui item">Buy</a>
                    <a href="/real-estates/rent" class="ui item">Rent</a>
                </div>
            </div>  
                <a class="item">Poruke</a>
            <div class="right menu">
                    <div class="ui text menu">
                        <div class="ui right dropdown item">
                            <div class="item">
                                <img class="ui mini circular image" src="" alt="">
                            </div>
                            <a href=""></a>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a href="" class="ui item">Profile</a>
                                <div class="ui divider"></div>
                                <a href="/real-estates/buy/new" class="ui item">Sell</a>
                                <a href="/real-estates/rent/new" class="ui item">Rent</a>
                            </div>
                        </div>
                    </div>
                    <a href="/logout" class="ui item">Logout</a>
       
                    <a href="/register" class="ui item">Register</a>
                    <a href="/login" class="ui item">Login</a>
                    
            </div>
        </div>
    </div>