<%include ../partials/header%>
    <div class="ui container">
        <form action="/lecturer" method="POST" class="ui-form">
            <div class="field">
                <label for="firstName">Ime</label>
                <input type="text" name="newLecturer[firstName]" id="firstName">
            </div> 
            <div class="field">
                <label for="lastName">Prezime</label>
                <input type="text" name="newLecturer[lastName]" id="lastName">
            </div>
            <div class="field">
                <label for="birthDate">Datum rođenja</label>
                <input type="date" name="newLecturer[birthDate]" id="birthDate">
            </div>
            <div class="field">
                <label for="streetNum">Ulica</label>
                <input type="text" name="newLecturer[streetName]" id="streetName">
            </div>
            <div class="field">
                <label for="streetNum">broj</label>
                <input type="number" name="newLecturer[streetNum]" id="streetNum">
            </div>
            <div class="field">
                <label for="postalCode">Poštanski broj</label>
                <input type="text" name="newLecturer[postalCode]" id="postNum">
            </div>
            <div class="field">
                <label for="municipality">Opština</label>
                <input type="text" name="newLecturer[municipality]" id="municipality">
            </div>
            <div class="field">
                <label for="city">Grad</label>
                <input type="text" name="newLecturer[city]" id="city">
            </div>
            <div class="field">
                <label for="country">Država</label>
                <input type="text" name="newLecturer[country]" id="country">
            </div>
            <div class="field">
                <label for="phoneNum">Broj mob.</label>
                <input type="tel" name="newLecturer[phone]" id="phoneNum">
            </div>
            <div class="field">
                <label for="email">E-mail</label>
                <input type="email" name="newLecturer[email]" id="email">
            </div>
            <input type="submit" value="Pošalji">
        </form>
    </div>
<%include ../partials/footer%>