<%include ../partials/header%>
    <div class="ui container">
        <form action="/portal/courses" method="POST" class="ui-form">
            <div class="field">
                <label for="courseName">Ime Kursa</label>
                <input type="text" name="newCourse[courseName]" id="courseName"/>
            </div> 
            <div class="field">
                <label for="moduleName">Ime modula</label>
                <input type="text" name="newCourse[moduleName]" id="moduleName"/>
            </div>
            <div class="field">
                <label for="moduleDuration">Trajanje modula (min)</label>
                <input type="number" name="newCourse[moduleDuration]" id="moduleDuration"/>
            </div>
            <div class="field">
                <label for="lecturer">Predavač</label>
                <select id="lecturer" name="newCourse[lecturer]">
                    <%for(var i=0; i<lecturers.length; i++){%>
                        <option value="<%=lecturers[i]._id%>"><%=lecturers[i].firstName%> <%=lecturers[i].lastName%></option>
                    <%}%>
                </select>
            </div>
            <!--
            <div class="field">
                <label for="moduleVideo">Video materijal</label>
                <input type="file" name="newCourse[video]"/>
            </div>
            -->
            <input type="submit" value="Pošalji"/>
            <input type="reset" value="Obrišite unos">
        </form>
    </div>
<%include ../partials/footer%>